<tb-keyboard-container>
  <h1>Keyboard Demo</h1>
  
  <!-- Well, this is the part not working yet... :) -->
    <p>
      Click into the input field to open the keyboard.
    </p>
<!--    <input type="text" [(ngModel)]="inputText" #inputElement (focus)="inputElement.blur()">-->
  
  
  <div style="width: 500px; margin: 0 auto;">
    <app-fake-input></app-fake-input>
  </div>
  
  
  <!--  <div contenteditable>hallo</div>-->
  
  <p>
    You pressed <code>{{(input$ | async) || 'nothing yet'}}</code>.
  </p>
  
</tb-keyboard-container>
<router-outlet></router-outlet>
