<tb-keyboard-container>
  <h1>Keyboard Demo</h1>
  <p>
    Click into the input field to open the keyboard.
  </p>
  <div style="width: 500px; margin: 0 auto;">
    <app-fake-input></app-fake-input>
  </div>
  
  <p>
    Here's a second input field with suggestion mode turned on.
  </p>
  <div style="width: 400px; margin: 0 auto;">
    <app-fake-input [suggestionMode]="true"></app-fake-input>
  </div>
  
  <p>
    You pressed <code>{{(input$ | async) || 'nothing yet'}}</code>.
  </p>
</tb-keyboard-container>
<router-outlet></router-outlet>
